:host {
  display: inline-block;

  --size: 3rem;
}

.lynk-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: var(--size);
  height: var(--size);
  background-color: var(--lynk-color-neutral-400);
  font-family: var(--lynk-font-sans);
  font-size: calc(var(--size) * 0.5);
  font-weight: var(--lynk-font-weight-normal);
  color: var(--lynk-color-neutral-0);
  user-select: none;
  vertical-align: middle;
}

.lynk-avatar--circle,
.lynk-avatar--circle .lynk-avatar__image {
  border-radius: var(--lynk-border-radius-circle);
}

.lynk-avatar--rounded,
.lynk-avatar--rounded .lynk-avatar__image {
  border-radius: var(--lynk-border-radius-medium);
}

.lynk-avatar--square {
  border-radius: 0;
}

.lynk-avatar__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lynk-avatar__initials {
  line-height: 1;
  text-transform: uppercase;
}

.lynk-avatar__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
